<meta charset="utf-8">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta property="og:title" content="{{ page.title }}">
<meta property="og:type" content="article">

<link rel="manifest" href="site.webmanifest">
<link rel="apple-touch-icon" href="{{site.url}}{{site.baseurl}}assets/haxe.png">

<!-- Place favicon.ico in the root directory -->

<meta name="description" content="{{ site.description }}">

<meta
  property="og:url"
  content="{{site.url}}{{site.baseurl}}{{page.url}}">

<meta
  property="og:image"
  content="{{site.url}}{{site.baseurl}}{{page.url}}Screenshot.png">