/**
  Solarized colors from https://ethanschoonover.com/solarized/
**/

$background: #fdf6e3; // base 3
$background-highlight: #eee8d5; // base 2
$text: #657b83; // base 00
$text-highlight: #586e75; // base 01
$dark-highlight: #073642; // base 02
$dark: #002b36; // base 03