
#demo {
  overflow: hidden;
}

#demo>header {
  position: absolute;
  top: 0.25rem;
  bottom: auto;
  left: 0.25rem;

  nav {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: flex-start;
  }

  a {
    flex-shrink: 0;
    padding-left: 1rem;
    text-decoration: none;
    color: $text-highlight;
  }
}


#demo>canvas {
  display: block;

  // funny story, these get overriden automatically by the inline style that
  // gets applied by the script in demo.html
  // BUT these prevent weirdness where an overflow causes space for a scrollbar
  // to be left on the side or bottom of the screen.
  width: 10vw;
  height: 10vh;
}

@media (max-width: 700px) {
  #demo >header {
    top:auto;
    bottom: 0.25rem;
  }
}

